.line {
    fill: rgb(30, 140, 173);
    stroke: slategrey;
    stroke-width: 0.5;
}
body{
    margin: auto;
    width: 50%;
    padding: 10px;
}

footer{
    padding-left: 10px;
    margin: auto;
}

h1{
    color: black;
}